---
title: Welcome to Surrey Digital Services
---
<!DOCTYPE html>
<html lang="en" class="landing">
  {% include head.html %}
  <body>
  {% include header.html %}
	<header class="landing">
		<div class="text-vertical-center">
            		<h1 class="brand-heading">SURREY DIGITAL SERVICES</h1>
			<h2></h2>
			<p><a href="#what" class="btn btn-lg btn-link"><span class="fa fa-arrow-circle-down fa-3"></span></a></p>
        	</div>
	</header>
	
    <div class="container-fluid text-center">
        <article id="what">
            <div class="row">
                <div class="col-xs-12">
                    <h1>What we do</h1>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <div class="text-center">
                                <span class="fa fa-map-o fa-5x"></span>
                            </div>
                            <h3>Planning Hub</h3>
                            <p>Access to planning applications harvested from authorities in Surrey county via a consistent API.</p>
                            <p><a href="http://digitalservices.surreyi.gov.uk/" class="btn btn-default">More</a></p>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center">
                                <span class="fa fa-search fa-5x"></span>
                            </div>
                            <h3>Addresses</h3>
                            <p>Address lookup API for PSMA signatories using OS AddressBase Premium.</p>
                            <p><a href="/sds-addresses/" class="btn btn-default">More</a></p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center">
                                <span class="fa fa-map-signs fa-5x"></span>
                            </div>
                          </div>
                    </div>

                </div>
            </div>
        </article>
        <article id="blog">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Blog</h1>
                    <div class="text-left">
                        {% for post in site.posts limit:5 %}
                        <div>
                            <h2>
                                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                <span class="small post-meta">by {{ post.author }} on {{ post.date | date: "%-d %b %Y" }} - <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span></span>
                            </h2>
                            {{ post.excerpt }}
                            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
                        </div>
                        {% endfor %}
                        {% if site.posts.size > 5 %}
                        <p><a href="/blog/" class="btn btn-link">Find more blog posts...</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </div>

	{% include footer.html %}
  </body>
</html>
