---
layout: default
---
<div class="row">
  <div class="col-lg-6 col-md-7 col-lg-offset-2 col-md-offset-1 post">
    <header class="page-header">
      <h1>
        <small>{{ page.category | capitalize }}</small>
        {{ page.title }}
      </h1>
      <p class="post-meta">{{ page.author }} on {{ page.date | date: "%-d %b %Y" }} <span class="post-comment-count"><span class="fa fa-comments"></span> <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span></span></p>
    </header>

    <article>
      {{ content }}
    </article>
    
    <div id="disqus_thread"></div>
  </div>
</div>
{% include disqus.html %}
